h2 {
    font-size: 1.5rem;
}
label {
    font-weight: 500;
}
input.form-control {
    font-size: .875rem;
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .75rem;
}
.delete-icon {
    color: red;
    cursor: pointer;
    text-align: right;
}
.delete-icon:hover {
    color: darkred;
}